:root {
    --color: #6a4322;
    --background-color: #201e18;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--color);
    font-family: fantasy;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(../images/6845542-indiana-jones.jpg);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

#logo {
    background-image: url(../images/logo-v.png);
    width: 90%;
    height: 121px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 40px 0;
}

#logo.small {
    background-image: url(../images/logo-v.png);
    height: 44px;
    padding: 20px 8px;
    margin: 4px;
    background-position: left;
}

#options {
    background: white;
    opacity: 0.7;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#options-buttons {
    display: flex;
    margin: 0px 4px;
}

#menu-buttons {
    margin: 20px 0;
}

.text-button {
    color: var(--color);
    background: #000000;
    padding: 10px;
    margin: 5px;
    width: 150px;
    text-transform: uppercase;
    font-family: fantasy;
    letter-spacing: 0.2rem;
    font-size: large;
    cursor: pointer;
    border: 2px double var(--background-color);
    filter: brightness(2)
}

.icon-button {
    background: #a89d94;
    border-radius: 100%;
    font-size: large;
    cursor: pointer;
    margin: 0 8px;
    width: 44px;
    height: 44px;
}

.fa-stack {
    left: -3px;
}

#splash-screen {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    ;
    flex-direction: column;
    align-items: center;
    height: 90%;
    transition: all 0.3s ease-in;
}

.background {
    position: absolute;
    height: 70%;
    width: 100%;
    opacity: 0.7;
    z-index: -1;
    background: var(--background-color);
    top: 15%;
}

.genius {
    margin: 10px 0;
    display: grid;
    grid-gap: 12px;
    border: 12px solid var(--background-color);
    background-color: var(--background-color);
    border-radius: 100%;
    max-width: 90vw;
    height: 45vh;
    aspect-ratio: 1;
}

#menu-genius-1 {
    grid-template-areas: 'btn-0 btn-1' 'btn-2 btn-3';
}

#menu-genius-2 {
    grid-template-areas: 'btn-4 btn-5' 'btn-6 btn-7';
}

#game {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 90%;
    transition: all 0.3s ease-in;
}

#game-status {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/804591.jpg);
    background-size: cover;
    background-position: 65% 80%;
    opacity: 0.95;
    filter: brightness(2);
    flex-direction: column;
    transition: all 0.6s ease-in;
    z-index: 100;
}

#status-message {
    color: var(--color);
    padding: 15px 30px;
    margin: 5px;
    text-transform: uppercase;
    font-family: fantasy;
    letter-spacing: 0.2rem;
    font-size: 64px;
    text-align: center;
}

#game-score {
    color: var(--color);
    background: #000000;
    filter: brightness(1.5);
    padding: 15px 30px;
    margin: 5px;
    text-transform: uppercase;
    font-family: fantasy;
    letter-spacing: 0.2rem;
    font-size: xxx-large;
    border: 2px double var(--background-color);
}

.top-left {
    border-top-left-radius: 100%;
    background: radial-gradient(ellipse at 80% 80%, #747c2e 0%, #20220c 70%);
    /* background: radial-gradient(ellipse at 80% 80%, green 0%, #004800 70%); */
    box-shadow: -1px 0px 5px 1px var(--background-color);
}

.bottom-left {
    background: radial-gradient(ellipse at 80% 20%, #d9ba46 0%, #54481b 70%);
    /* background: radial-gradient(ellipse at 80% 20%, yellow 0%, rgb(150, 150, 99) 70%); */
    border-bottom-left-radius: 100%;
    box-shadow: -1px 0px 5px 1px var(--background-color);
}

.top-right {
    background: radial-gradient(ellipse at 20% 80%, #50505c 0%, #212122 70%);
    /* background: radial-gradient(ellipse at 20% 80%, blue 0%, rgb(0, 0, 138) 70%); */
    border-top-right-radius: 100%;
    box-shadow: 1px 0px 5px 1px var(--background-color);
}

.bottom-right {
    background: radial-gradient(ellipse at 20% 20%, #a74d17 0%, #602c0d 70%);
    /* background: radial-gradient(ellipse at 20% 20%, red 0%, rgb(138, 0, 0) 70%); */
    border-bottom-right-radius: 100%;
    box-shadow: 1px 0px 5px 1px var(--background-color);
}

.opacity-hidden {
    opacity: 0;
}

.hidden {
    position: absolute;
    display: none !important;
    opacity: 0 !important;
}

.hidden-left {
    position: absolute;
    transform: translateX(100%);
    opacity: 0;
}

.hidden-right {
    position: absolute;
    transform: translateX(-100%);
    opacity: 0;
}

.top-left.shine {
    box-shadow: -1px 0px 16px 5px #747c2e;
    opacity: 0.8;
    background: radial-gradient(ellipse at 80% 80%, white -20%, #747c2e 45%);
}

.bottom-left.shine {
    box-shadow: -1px 0px 16px 5px #d9ba46;
    opacity: 0.8;
    background: radial-gradient(ellipse at 80% 20%, white -20%, #d9ba46 45%);
}

.top-right.shine {
    box-shadow: 1px 0px 16px 5px #50505c;
    opacity: 0.8;
    background: radial-gradient(ellipse at 20% 80%, white -20%, #50505c 45%);
}

.bottom-right.shine {
    box-shadow: 1px 0px 16px 5px #a74d17;
    opacity: 0.8;
    background: radial-gradient(ellipse at 20% 20%, white -20%, #a74d17 45%);
}